<!DOCTYPE html>
<html lang="pt">
  <%- include('../partials/head', {tag: meta}); %>
<body>
  
  <a class="back_btn" href="/">&laquo; Voltar</a>
  <main class="main main_dados">
    <h2>Numero de visitas</h2>
    <h1><%= totalVisitas %></h1>
  </main>

</body>
</html>