<!DOCTYPE html>
<html lang="pt">
    <%- include('../partials/head', {tag: meta}); %>
<body>
<header class="header">
    <div id="menu_button" class="bars_container">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
</header>

<main class="main main_home">
    <h1>Posso sair de casa?</h1>

    <p>Não, Fique em casa</p>
</main>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" id="closebtn" class="closebtn"> 
        &times;
    </a>
    
    <div class="text_container">
        <h2>FIQUE EM CASA!</h2>
    </div>
</div>

<script>
    let menu_button = document.getElementById("menu_button");
    let closebtn    =  document.getElementById("closebtn");

    menu_button.addEventListener("click", () => {

        document.getElementById("mySidenav").style.width = "80%";

        fetch(`/modalAberto`, {
            method: 'POST',
            headers: {
              'Accept': 'application/json, text/plain, */*',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ 
                currentDate: Date.now()
            })
          })
          .then(function (data) {  
            console.log("dados enviados com sucesso", data)
          })  
          .catch(function (error) {  
            console.log('Request failure: ', error
            );  
        });
    });
    
    closebtn.addEventListener("click", () => {
        document.getElementById("mySidenav").style.width = "0";
    });

    setTimeout( function() {
        console.log("intervalo ativo....")
        fetch(`/`, {
            method: 'POST',
            headers: {
              'Accept': 'application/json, text/plain, */*',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ 
                usrAGent: navigator.userAgent,
                currentDate: Date.now()
            })
          })
          .then(function (data) {  
            console.log("dados enviados com sucesso", data)
          })  
          .catch(function (error) {  
            console.log('Request failure: ', error);  
          });
    }, 1000 );
</script>

<footer class="footer">
    <p>Produção de 
        <a href="https://www.instagram.com/eu_genio08/" rel="noreferrer" target="_blank" class="social_insta">
            <img src="../../public/images/logo-instagram.svg" alt="instagram">
        </a>
    </p>
</footer>
</body>
</html>